body
{
	background-color: white;
}

a
{
    color: #e8710c;
    text-decoration: none;
}

a:hover
{
    color: #401703;
}

h1
{
    color:#ff580d;
    font-family: 'Lobster', cursive;
    font-size: 36pt;
}

h2
{
    font: 20pt "Cabin",sans-serif;
    font-weight: bold;
    margin-bottom: 20px;
}

p
{
    font-family: 'Cabin', sans-serif;
    font-size: 18pt;
    margin-bottom: 15px;
}

li
{
    font-family: 'Cabin', sans-serif;
    font-size: 18pt;
    margin-left:50px;
    line-height: 150%;
}

#picture img
{
    background: white;
    border: 1px solid #fff;
    margin-top: -100px;
    margin-bottom: -100px;
    padding: 10px;
    -moz-box-shadow: 0px 2px 3px #3f3a39;
    -webkit-box-shadow: 0px 2px 3px #3f3a39;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    position: absolute; top: 200px;
}

#wrapper
{
    border: 0 solid #FFFFFF;
    margin: auto;
}

#nav
{
    height:25px;
    margin-top: 10px;
    overflow:hidden;
    padding-bottom:28px;
}


#nav li
{
    float:left;
    padding:0 30px 0 0;
    font-family: 'Cabin', sans-serif;
    font-size: 13pt;
    margin: 0;
}


#nav .active a
{
    color: gray;
    text-decoration:none;
    font-family: 'Cabin', sans-serif;
}



#header
{
    height:100px;
    padding-left: 150px;
    padding-top: 40px;
}

#middle
{
    background-color: white;
    background-image:url('project_papper.png');
    border: 1px solid #FF9900;
    height: 260px;
    margin: auto;
    overflow: hidden;
    padding: 40px 150px 40px 150px;
}

#text
{
    float:left;
    width: 550px;
}

#picture
{
    float:right;
    width:400px;
}

#gallery-middle
{
    float: center;
    margin: 0px auto;
    margin-bottom:100px;
    background-color: white;
    background-image:url('project_papper.png');
    border: 1px solid #FF9900;
    padding: 40px 150px 40px 150px;
    overflow: auto


}

#gallery-column-left
{
float:left;

}


#gallery-column-right
{
float: right;

}

.picture
{
background: white;
border: 1px solid #fff;
margin: auto;
margin-bottom: 20px;
-moz-box-shadow: 0px 2px 3px #3f3a39;
-webkit-box-shadow: 0px 2px 3px #3f3a39;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
padding: 10px 10px 1em 10px;


}

.picture:hover
{
-webkit-transform: scale(1.1);
-moz-transform: scale(1.1);
position: relative;
z-index: 5;
}

.picture p
{
text-align: center;
font-style: italic;
font-size: 10pt;
margin: 0;
margin-top: 1em;
}