<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<link rel="stylesheet" type="text/css" href="reset.css" />
<link rel="stylesheet" type="text/css" href="style.css" />
<link href='http://fonts.googleapis.com/css?family=Cabin|Lobster' rel='stylesheet' type='text/css'>

<title>placemanul</title>
</head>
<body>

	<div id="wrapper">
		<div id="header">
			<h1>placemanul</h1>
			<ul id="nav">
					<li><a href="index.html">Home</a></li>
					<li><a href="gallery.html">The manuls</a></li>
					<li class="active"><a href="#">About</a></li>
				</ul>
		</div>

		<div id="middle">
			<div id="text">
				<h2>Manul is the new kitten</h2>
					<p>Placemanul is a placeholder image service inspired by <a href="http://placekitten.com">Placekitten</a>. It uses <a href="gallery.html">freely-licensed photographs</a>.</p>
			</div>
				<div id="picture">
					<img src="$root/m2/400/400">
				</div>
		
		</div>
	</div>

</body>
</html>
