$def with (error_message)
<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<link href='http://fonts.googleapis.com/css?family=Cantata+One' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="http://static.placemanul.com/reset.css" type="text/css" />
<link rel="stylesheet" href="http://static.placemanul.com/style.css" type="text/css" />
<title>placemanul</title>
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-31989020-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
</head>
<body>

<div id="wrapper404">
<img src="http://static.placemanul.com/404manul.jpg">
<h2>ERROR!</h2>
<div class="code">$error_message</div>
<p>You have angered the manul. You can bask in its glory, or return to the <a href="/">main page</a>.

</div>

  
            
</div>

</body>
