$def with (error_message)
<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<link href='http://fonts.googleapis.com/css?family=Cantata+One' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="static.placemanul.com/reset.css" type="text/css" />
<link rel="stylesheet" href="static.placemanul.com/style.css" type="text/css" />
<title>Manul cats!</title>
</head>
<body>

<div id="wrapper404">
<img src="static.placemanul.com/404manul.jpg">
<h2>ERROR!</h2>
<div class="code">$error_message</div>
<p>You have angered the manul. You can bask in its glory, or return to the <a href="#">main page</a>.

</div>

  
            
</div>

</body>
