$def with (gallery)
<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<link href='http://fonts.googleapis.com/css?family=Cantata+One' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="http://dl.dropbox.com/u/11570715/placemanul/reset.css" type="text/css" />
<link rel="stylesheet" href="http://dl.dropbox.com/u/11570715/placemanul/style.css" type="text/css" />
<title>Manul cats!</title>
</head>
<body>

<div id="header">
<a href="index.html"><h1><span style='color:#D8C8B8;'>place</span>manul</h1></a>
</div>

<div id="header2">
<div class="code">Manul pictures!</div>
</div>


<div id="gallery-wrapper">



$:gallery


</div>


</body>
