$def with (gallery_entries)
<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<link rel="stylesheet" href="http://static.placemanul.com/reset.css" type="text/css" />
<link rel="stylesheet" href="http://static.placemanul.com/style.css" type="text/css" />
<link href='http://fonts.googleapis.com/css?family=Cabin|Lobster' rel='stylesheet' type='text/css'>

<title>placemanul</title>
</head>
<body>

	<div id="wrapper">
		<div id="header">
			<a href="index.html"><h1>placemanul</h1></a>
			<ul id="nav">
					<li><a href="index.html">Home</a></li>
					<li class="active"><a href="#">The manuls</a></li>
					<li><a href="about.html">About</a></li>
				</ul>
		</div>


<div id="gallery-middle">

<div id="gallery-column-left">
$:{"".join(gallery_entries[::2])}
</div>

<div id="gallery-column-right">
$:{"".join(gallery_entries[1::2])}
</div>


		</div>
	</div>

</body>
</html>
