$def with (gallery_entries)
<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<link href='http://fonts.googleapis.com/css?family=Cantata+One' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="http://static.placemanul.com/reset.css" type="text/css" />
<link rel="stylesheet" href="http://static.placemanul.com/style.css" type="text/css" />
<title>placemanul</title>
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-31989020-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
</head>
<body>

<div id="header">
<a href="/"><h1><span style='color:#D8C8B8;'>place</span>manul</h1></a>
</div>

<div id="header2">
<div class="code">…for when a kitten is not enough</div>
</div>


<div id="gallery-wrapper">

<div id="gallery-column-left">
$:{"".join(gallery_entries[::3])}
</div>

<div id="gallery-column-right">
$:{"".join(gallery_entries[2::3])}
</div>

<div id="gallery-column-mid">
$:{"".join(gallery_entries[1::3])}
</div>


</div>


</body>
