$def with (root)
<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<link href='http://fonts.googleapis.com/css?family=Cantata+One' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="http://static.placemanul.com/reset.css" type="text/css" />
<link rel="stylesheet" href="http://static.placemanul.com/style.css" type="text/css" />
<title>Manul cats!</title>
</head>
<body>

<div id="header">
<a href="index.html"><h1><span style='color:#D8C8B8;'>place</span>manul</h1></a>
</div>

<div id="header2">
<div class="code">http://placemanul.com/200/300</div>
<div class="code">http://placemanul.com/g/200/300 | http://placemanul.com/s/200/300</div>
</div>

<div id ="wrapper" >

<div id="column-left">
<div class="picture-main"><img src="$root/340/410/m1"></div>
</div>

<div id="column-right">
<h2>Placeholder images with the <b>right</b> kind of feline</h2>
<p>Just put the dimensions in the URL.</p>
<p>Our manuls also come in /g/rayscale and /s/epia.</p>

<div class="footerbox">Inspired by <a href="http://placekitten.com">Placekitten</a>.
<a href="/gallery">Image Attribution</a></div>

</div>

<div id="column-mid">
<div class="picture-main"><img src="$root/gray/220/170/m5"></div>
<div class="picture-main"><img src="$root/sepia/220/230/m8"></div>

</div>
        
  
            
</div>

</body>
