$def with (root)
<html>
<head>
<title>Hello!</title>
</head>
<body>
These are some very cute manuls:
<img src="$root/300/300" /><br/>
<img src="$root/300/500" /><br/>
<img src="$root/m2/500/200" /><br/>
<img src="$root/500" /><br/>
Those are great manuls!
This is a manul in grayscale:
<img src="$root/gray/300" /><br/>
This is a manul in sepia:
<img src="$root/sepia/300" /><br/>
This is a manul in negative (slightly scary-looking!):
<img src="$root/negative/300" /><br/>
This is the <b>best</b> manul:
<img src="$root/300/m1" /><br/>
</body>
</html>
