$def with (root)
<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<link href='http://fonts.googleapis.com/css?family=Cantata+One' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="http://static.placemanul.com/reset.css" type="text/css" />
<link rel="stylesheet" href="http://static.placemanul.com/style.css" type="text/css" />
<title>placemanul</title>
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-31989020-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
</head>
<body>

<div id="header">
<a href="/"><h1><span style='color:#D8C8B8;'>place</span>manul</h1></a>
</div>

<div id="header2">
<div class="code"><a href="http://placemanul.com/200/300">http://placemanul.com/200/300</a></div>
<div class="code"><a href="http://placemanul.com/g/200/300">http://placemanul.com/g/200/300</a> | <a href="http://placemanul.com/s/200/300">http://placemanul.com/s/200/300</a></div>
</div>

<div id ="wrapper" >

<div id="column-left">
<div class="picture-main"><img src="$root/340/410/m1"></div>
</div>

<div id="column-right">
<h2>Placeholder images with the <b>right</b> kind of feline</h2>
<p>Just put the dimensions in the URL.</p>
<p>Our manuls also come in /g/rayscale and /s/epia.</p>

<div class="footerbox">Inspired by <a href="http://placekitten.com">Placekitten</a>.
<a href="/gallery">Image Attribution</a><br/>
© 2012 Alicia Kwiatkowska – All Rights Reserved</div>


</div>

<div id="column-mid">
<div class="picture-main"><img src="$root/gray/220/170/m5"></div>
<div class="picture-main"><img src="$root/sepia/220/230/m8"></div>

</div>
        
  
            
</div>

</body>
